.square {
    width: 50%;
    background: #333;
}
.square::before {
    float: left;
    padding-top: 100%;
    content: '';
}
.square::after {
    display: block;
    clear: both;
    content: '';
}

