{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"],
                "node": "current"
            }
        }],
        "react",
        "stage-0"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        "transform-async-to-generator",
        "transform-decorators-legacy",
        "syntax-decorators",
        "transform-runtime"
    ]
}
