.grid-layout {
    display: grid;
    grid-template-areas:
        'sidebar header header'
        'sidebar content content'
        'sidebar footer footer';
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: white;
}
.grid-layout > div {
    padding: .625rem;
    background: #333;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.header {
    grid-area: header;
}
.footer {
    grid-area: footer;
}
